# PyCity Schools Analysis

In [67]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [68]:
# Calculate the total number of unique schools

school_count = school_data_complete["school_name"].unique()
unique_schools = len(school_count)
unique_schools

15

In [69]:
# Calculate the total number of students
student_count = school_data_complete["student_name"].count()
student_count

39170

In [70]:
# Calculate the total budget
total_budget_df = school_data_complete[["school_name","budget"]]
total_budget_df = total_budget_df.drop_duplicates()
total_budget = total_budget_df["budget"].sum()
total_budget

24649428

In [71]:
# Calculate the average (mean) math score
average_math_score = school_data_complete["math_score"].mean()
average_math_score

78.98537145774827

In [72]:
# Calculate the average (mean) reading score
average_reading_score = school_data_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [73]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [74]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)  
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100

In [75]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [76]:
district_summary_df = pd.DataFrame([{"Total Schools": unique_schools, 
                               "Total Students": student_count, 
                               "Total Budget": total_budget,
                               "Average Math Score": average_math_score,
                               "Average Reading Score": average_reading_score,
                               "% Pass Math": passing_math_percentage,
                               "% Pass Reading": passing_reading_percentage,
                               "% Overall Passing": overall_passing_rate
                               }])

district_summary_df.loc[:, "Total Students"] = district_summary_df["Total Students"].map('{:,.0f}'.format)
district_summary_df.loc[:, "Total Budget"] = "$" + district_summary_df["Total Budget"].map('{:,.2f}'.format)

district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Pass Math,% Pass Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

In [87]:
# Use the code provided to select all of the school types
school_types = school_data_complete["type"].unique()
school_types

array(['District', 'Charter'], dtype=object)

In [154]:
# Calculate the total student count per school
per_school_counts = school_data_complete.groupby(["school_name"])

per_school_counts_df = pd.DataFrame(
    per_school_counts[["student_name"]].count())
per_school_counts_df = per_school_counts_df.rename(columns={"school_name": "school_name", "student_name": "student_count"})
per_school_counts_df

                       student_count
school_name
Bailey High School              4976
Cabrera High School             1858
Figueroa High School            2949
Ford High School                2739
Griffin High School             1468
Hernandez High School           4635
Holden High School               427
Huang High School               2917
Johnson High School             4761
Pena High School                 962
Rodriguez High School           3999
Shelton High School             1761
Thomas High School              1635
Wilson High School              2283
Wright High School              1800

In [156]:
# Calculate the total school budget and per capita spending per school

per_school_budget = school_data_complete[["school_name","budget"]]
per_school_budget = per_school_budget.drop_duplicates()

budget_and_per_capita = pd.merge(per_school_counts_df, per_school_budget, how="left", on=["school_name", "school_name"])

per_school_capita = budget_and_per_capita["budget"] / budget_and_per_capita["student_count"]

budget_and_per_capita["per_school_capita"] = per_school_capita

budget_and_per_capita

              school_name  student_count   budget  per_school_capita
0      Bailey High School           4976  3124928              628.0
1     Cabrera High School           1858  1081356              582.0
2    Figueroa High School           2949  1884411              639.0
3        Ford High School           2739  1763916              644.0
4     Griffin High School           1468   917500              625.0
5   Hernandez High School           4635  3022020              652.0
6      Holden High School            427   248087              581.0
7       Huang High School           2917  1910635              655.0
8     Johnson High School           4761  3094650              650.0
9        Pena High School            962   585858              609.0
10  Rodriguez High School           3999  2547363              637.0
11    Shelton High School           1761  1056600              600.0
12     Thomas High School           1635  1043130              638.0
13     Wilson High School           2283  1319574              578.0
14     Wright High School           1800  1049400              583.0